h1
  color: red

.day_container
  display: inline-block

.card
  border-top-color: gray
  border-top-style: solid
  border-top-width: 1px
  border-radius: 5px
  margin: 5px
  padding: 8px
  background-color: #EFF0F3
  &.ghost
    border-color: white
    background-color: gray
  &.hovering
    // nothing here, but just to document that this class exists
  &.editing
    background-color: white
    box-shadow: inset 0px 0px 2px 0px gray, inset 0px 0px 2px 0px gray, inset 1px 1px 3px 0px gray
    outline: none

.card_list
  border-width: 3
  border-style: solid
  border-color: #CAD3EC
  border-radius: 5px
  background-color: #CAD3EC
  display: inline-block
  margin: 4px
  vertical-align: top
  min-width: 150px
  width: 13%
  header
    margin: 3px
    padding: 3px
    padding-left: 7px
    box-shadow: inset 1px 1px 0px 0px white, 1px 1px 1px 0px gray
    font-size: 1.1em
    font-weight: bold
    border-radius: 5px
    background-color: darken(#CAD3EC, 10%)
    span
      font-size: 0.9em
      font-weight: normal
      color: darken(#008CBA, 15%)
      padding-left: 0.5em
  button.add_card
    background-color: lighten(#668CBA, 30%)
    color: darken(#008CBA, 15%)
    border-right: 1px solid darken(#008CBA, 5%)
    border-bottom: 1px solid darken(#008CBA, 5%)
    box-shadow: inset 1px 1px 0px 0px white, 1px 1px 1px 0px darken(#008CBA, 5%)
    border-radius: 5px
    box-sizing: border-box
    width: 95%
    margin: 5px
    margin: 5px
    line-height: 1.5em
    &:hover
      background-color: #008CBA
      color: white
      cursor: pointer

.board
  padding: 8px
  margin-left: auto
  margin-right: auto

.navbar
  padding: 10px
  line-height: 40px
  background-color: #91A0CB
  height: 40px
  a
    display: inline-block

.error
  background-color: red
  padding: 20px

.main

.title
  background-color: #91A0CB

.bd
  padding: 0
  margin: 0

.profile_link
  float: right
  text-decoration: none
  font-weight: bold
  margin-right: 20px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F
  vertical-align: middle

.name
  display:inline-block
  line-height: 40px

.login_link
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  line-height: 40px
  color: #13395F
  float: right
  margin-left: 10px
  margin-right: 10px
  &.visited
    color: #13395F

.brand
  margin-right: 20px
  height: 40px
  text-weight: bold
  font-size: 30px
  line-height: 40px
  font-weight: bold
  text-decoration: none
  color: black
  font-family: "Arial"
  &.visited
    color: black

.logout_link
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  float: right
  display: inline-block
  &.visited
    color: #13395F


.register_link
  text-decoration: none
  font-weight: bold
  height: 40px
  color: #13395F
  float: right
  margin-left: 10px
  margin-right: 10px
  &.visited
    color: #13395F

.tit
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F

.link
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F


#profile
  text-decoration: none
  list-style: none

.lista
  padding: 10px
  font-size: 20px

#podglad
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F

.photo
  display:inline-block
  vertical-align:middle
  width: 40px
  float: right
  margin-right: 1em

.please_log_in
  text-align: center
  font-weight: normal
  color: #AC0606



.btn
  color: #fff
  font-size: 13px
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
  background-color: rgb(102, 140, 94)
  background-image: -moz-linear-gradient(top, rgb(158, 194, 142), rgb(104, 143, 96))
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#9ec28e),to(#688f60))
  background-image: -webkit-linear-gradient(top, #9ec28e, #688f60)
  background-image: -o-linear-gradient(top, #9ec28e, #688f60)
  background-image: linear-gradient(to bottom, #9ec28e, #688f60)
  background-repeat: repeat-x
  border-color: #5f8657
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
  border-width: 2px
  border-radius: 5px
  margin-top: 5px
  padding: 3px 18px 5px 18px
  &.hover
   box-shadow: 1px 1px 9px rgba(0,0,0,.7)
  &.active
    box-shadow: 1px 1px 9px rgba(0,0,0,.7)

ul.errorlist
  margin: 0
  padding: 0

ul.errorlist li
  display: inline
  color: red
  font-size: 12px

.pull-right
  float:right

.inset
  margin-bottom: 10px

.header
  margin-bottom: 10px

.remember-forgot-section
  width: 94%
  text-align: left
  margin: 8px auto
  font-size: 10px

.forgot
  float: right
  margin-top: 2px

.footnote
  position: relative
  top: 14px
  margin-top: 6px
  font-size: 10px

.login_body
  color: #4d4d4d
  font-family: 'Arial',serif
  font-size:  14px

.fb
  box-shadow: 2px 2px 8px rgba(0,0,0,.7)
  border-radius: 5px
  width: 198px
  height: 37px
  margin: 80px auto
  overflow: hidden

.inset
  width: 200px
  padding: 30px
  background: rgba(255,255,255,.65)
  box-shadow: 2px 2px 8px rgba(0,0,0,.7)
  border-radius: 5px
  margin-left: auto
  margin-right: auto
  margin-top: 40px
  text-align: center
