h1
  color: red

.day_container
  display: inline-block

.card
  border-width: 0.5px
  border-style: solid
  border-color: gray
  border-top-color: gray
  border-top-width: 2px
  border-radius: 5px
  margin: 5px
  padding: 8px
  background-color: #EFF0F3
  &.ghost
    border-color: white
    background-color: gray
  &.hovering
    // nothing here, but just to document that this class exists
  &.editing
    background-color: white

.card_list
  border-width: 3
  border-style: solid
  border-color: #CAD3EC
  border-radius: 5px
  background-color: #CAD3EC
  display: inline-block
  margin: 10px
  vertical-align: top
  min-width: 150px
  width: 12%
  > button.add_card
    background-color: white
    color: black
    border: 2px solid #008CBA
    width: 99%
    &.hovering
      background-color: #008CBA
      color: white


.board
  padding: 20px

.navbar
  padding: 10px
  line-height: 40px
  background-color: #91A0CB
  height: 50px

.error
  background-color: red
  padding: 20px

.main

.title
  background-color: #91A0CB

.bd
  padding: 0
  margin: 0

.profile_link
  float: right
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F
  vertical-align: middle

.name
  display:inline-block
  float: left

.login_link
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F

.brand
  margin-right: 20px
  height: 40px
  text-weight: bold
  font-size: 35px
  text-decoration: none
  color: black
  font-family: "Arial"
  &.visited
    color: black

.logout_link
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F

 
.register_link    
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F    
    
.tit   
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F     
  
.link    
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F    
 

#profile
  text-decoration: none
  list-style: none
  
.lista
  padding: 10px
  font-size: 20px

#podglad
  text-decoration: none
  font-weight: bold
  margin-right: 5px
  height: 40px
  color: #13395F
  &.visited
    color: #13395F  

.photo
  display:inline-block
  vertical-align:middle
  width: 10%
  margin-right: 20px
  float: right  
  
.please_log_in
  text-align: center
  font-weight: normal
  color: #AC0606 

.login_body
  background-color: 
  padding: 0
  margin: 0

.btn 
  color: #fff
  font-size: 13px
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25)
  background-color: rgb(102, 140, 94)
  background-image: -moz-linear-gradient(top, rgb(158, 194, 142), rgb(104, 143, 96))
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#6d84b4),to(#afbdd4))
  background-image: -webkit-linear-gradient(top, #6d84b4, #afbdd4)
  background-image: -o-linear-gradient(top, #6d84b4, #afbdd4)
  background-image: linear-gradient(to bottom, #6d84b4, #afbdd4)
  background-repeat: repeat-x
  border-color: #5f8657
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25)
  border-width: 2px
  border-radius: 5px
  padding: 3px 18px 5px 18px
  &.hover
   box-shadow: 1px 1px 9px rgba(0,0,0,.7)
  &.active
    box-shadow: 1px 1px 9px rgba(0,0,0,.7)

ul.errorlist 
  margin: 0
  padding: 0

ul.errorlist li 
  display: inline
  color: red
  font-size: 12px

.pull-right 
  float:right

.inset
  margin-bottom: 10px

.header
  margin-bottom: 10px

.remember-forgot-section
  width: 94%
  text-align: left
  margin: 8px auto
  font-size: 10px
 
.forgot 
  float: right
  margin-top: 2px

.footnote 
  position: relative
  top: 14px
  margin-top: 6px
  font-size: 10px

.login_body
  color: #4d4d4d
  font-family: 'Arial',serif
  font-size:  14px

.fb
  background-color: #3b5998
  text-decoration: none
  border-radius: 5px
  width: 198px
  margin: 25px auto
  overflow: hidden
  color: white
  text-align: center
  padding: 11px 
  font-weight: bold  
  font-size: 17px
  &.visited
    color: white
    text-decoration: none

.fb_link
  text-decoration: none
  &.visited
    text-decoration: none

.inset 
  width: 200px
  padding: 30px
  border-width: 3
  border-style: solid
  border-color: #CAD3EC
  border-radius: 5px
  background-color: #CAD3EC
  border-radius: 5px
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  text-align: center











































