h1
  color: red

.day_container
  display: inline-block

.card
  border-width: 2px
  border-style: solid
  border-color: gray
  border-top-color: gray
  border-top-width: 2px
  margin: 5px
  padding: 8px
  background-color: white
  width: 200px
  &.ghost
    border-color: white
    background-color: gray
  &.hovering
    // nothing here, but just to document that this class exists

.card_list
  border-width: 3
  border-style: solid
  border-color: black
  display: inline-block
  margin: 12px
  vertical-align: top

.board
  bottom: 0px
  top: 0px
  position: absolute
  left: 0px
  right: 0px
